/* ====================================================== */
/* Page Layout */
/* ====================================================== */

body {
    margin: 0px;
    padding: 0px;
    font-family: "helvetica";
    background: #cccccc;
}


#container {
    margin: 2em auto;
    padding: 0px;
    width: 1024px;
    text-align: left;
    border: 1px solid black;
    background: #ffffff;
    box-shadow: 2px 2px 5px 0 #000;
}

#header {
    width: 100%;
    background: #dddddd;
    margin-bottom: 2em;
    padding: 1em;
}

#menu {
    margin: 0px auto;
    padding: 0px;
    width: 1024px;
    text-align: left;
}

#content {
    padding: 1em;
    font-family: 'Pontano Sans', Verdana, Helvetica, sans-serif;
    font-size: 11pt;
}

.message {
    padding: 10px;
    display: none;
}

.error {
    background-color: #ffcccc;
    border: 1px solid #660000;
}

.success {
    background-color: #ccffcc;
    border: 1px solid #006600;
}

#messages * {
    margin-top: 1em;
}

/* ====================================================== */
/* Editor Settings */
/* ====================================================== */

#content h1 {
    margin: 0 0 20 0;
    font-size: 16pt;
    font-weight: normal;
    color: #1b6987;
    border-bottom: 1px solid #ccc;
}

#code {
    border: 1px solid #ddd;
    height: 300px;
}

#console {
    font-family: "Courier New", Courier, monospace;
    font-size: 11pt;
    background-color: #111111;
    color: #eeeeee;
    width: 100%;
    height: 100px;
    min-height: 100px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #ddd;
    resize: vertical;
    margin-top: 1em;
    padding: 0.5em;
}

#toolbar {
    margin-top: 0.5em;
}

#toolbar button {
    font-size: 11pt;
}

#toolbar #spinner {
    display: none;
    vertical-align: middle;
    margin: 1px;
}

/**
 * The error marker is the CSS style for highlighting errors.
 */
.error-message {
    text-decoration: none;
    border-bottom: 2px red dotted;
    position: absolute;
}

/**
 * The context marker is the CSS style for highlighting contextual info.
 */
.context-message {
    text-decoration: none;
    border-bottom: 2px goldenrod dotted;
    position: absolute;
}

/*
 * Resize handle for code area.
 */
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-s {
	cursor: default;
	height: 8px;
	width: 8px;
	bottom: 0;
	right: 0;
	background: url("../images/resizable.png");
	background-repeat: no-repeat;
}
