/* ====================================================== */
/* Page Layout */
/* ====================================================== */

body {
    margin: 0px;
    padding: 0px;
    font-family: "helvetica";
    background: #d5c397;
}

#header {
    width: 100%;
    background: #dddddd;
    margin-bottom: 2em;
    padding: 1em;
}

#container {
    margin: 2em auto;
    padding: 0px;
    width: 1024px;
    text-align: left;
    border-radius: 12px;
    border: none;
    background: #ffffff;
    box-shadow: 2px 2px 5px 0 #000;    
}

#content {
    padding: 1em;
    font-family: 'Pontano Sans', Verdana, Helvetica, sans-serif;
    font-size: 11pt;    
}

#code {
    border: 1px solid #ddd;
    height: 300px;
    border-radius: 12px;
    background-color: #f9f9f9;
    resize: vertical;
}

#console {
    font-family: "Courier New", Courier, monospace;
    font-size: 11pt;
    background-color: #f9f9f9;
    color: #888888;
    width: 100%;
    height: 100px;
    min-height: 100px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 12px;    
    resize: vertical;
    margin-top: 1em;
    padding: 0.5em;
}

#bin {
    font-family: "Courier New", Courier, monospace;
    font-size: 11pt;
    background-color: #f9f9f9;
    color: #888888;
    width: 100%;
    height: 100px;
    min-height: 100px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 12px;    
    resize: vertical;
    margin-top: 1em;
    padding: 0.5em;
}

.message {
    padding: 10px;
    display: none;
}

.error {
    background-color: #ffcccc;
    border: 1px solid #660000;
}

.success {
    background-color: #ccffcc;
    border: 1px solid #006600;
}

#messages * {
    margin-top: 1em;
}

/* ====================================================== */
/* Editor Settings */
/* ====================================================== */

#content h1 {
    margin: 0px 0px 20px 0px;
    font-size: 16pt;
    font-weight: normal;
    color: #1b6987;
    border-bottom: 1px solid #ccc;
}


#toolbar {
    margin-top: 0.5em;
}

#toolbar button {
    font-size: 11pt;
    background-color: #e5d3a7;
    border-radius: 12px;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#toolbar button:active {
    background-color: #c5b387;
    color: white;
}

#toolbar button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    color: #888888;    
}

#toolbar #spinner {
    display: none;
    vertical-align: middle;
    margin: 1px;
}

/**
 * The error marker is the CSS style for highlighting errors.
 */
.error-message {
    text-decoration: none;
    border-bottom: 2px red dotted;
    position: absolute;
}

/**
 * The context marker is the CSS style for highlighting contextual info.
 */
.context-message {
    text-decoration: none;
    border-bottom: 2px goldenrod dotted;
    position: absolute;
}