/* ====================================================== */
/* Page Layout */
/* ====================================================== */

body {
    margin: 0;
    padding: 0;
    font-family: "helvetica";
    background: #ffffff;
    height: 100%;
}

#header {
    width: 100%;
    background: #ffff;
    margin-bottom: 2em;
    padding: 1em;
}

#container {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    border: none;
    background: #d5c397;
}

#toolbar {
    background: #483c1e;
    border-right: 2px solid black;
}

.icon {
    flex-grow: 0;
    margin: 10px;
    color: #91773b;
    font-size: 32pt;
}

.icon:hover {
    color: #d5c397;    
}

#window {
    flex-grow: 1;
    margin: 1em 1em;
    padding: 1em;
    width: 80%;
    text-align: left;
    border-radius: 12px;
    border: none;
    background: #ffffff;
    box-shadow: 2px 2px 5px 0 #000;    
}

#content {
    margin: 0em;
    padding: 0em;
    height: calc(100% - 6em);
    font-family: 'Pontano Sans', Verdana, Helvetica, sans-serif;
    font-size: 16pt;
}

#editor {
    padding: 0em;
    margin: 0em;
    /* position: relative; */
    height: 100%;
}

#code {
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #f9f9f9;
    font-size: 16pt;
}
#bin {
    font-family: "Courier New", Courier, monospace;
    font-size: 11pt;
    background-color: #f9f9f9;
    color: #888888;
    width: 100%;
    height: 100px;
    min-height: 100px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 12px;    
    resize: vertical;
    margin-top: 1em;
    padding: 0.5em;
}

.message {
    padding: 0.5em;
    /* display: none; */
}

.error {
    background-color: #ffcccc;
    border: 1px solid #660000;
}

.success {
    background-color: #ccffcc;
    border: 1px solid #006600;
}

#messages {
    margin: 0.5em 0em;
}

/* ====================================================== */
/* Editor Settings */
/* ====================================================== */

nav.menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    z-index: 5;
}
nav.menubar > ul {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
nav.menubar a {
    display: block;
    padding: 10px 10px;
    text-align: left;
    color: #000000;
    text-decoration: none;
}
nav.menubar a:hover, a:active {
    background-color: #fff;
    color: #c00;
}
nav.menubar > ul > li {
    display: inline-block;
}
nav.menubar > ul ul {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px #999999;
}
nav.menubar ul > li:hover ul {
    display: block;
}
nav.menubar > ul > li > ul a {
    min-width: 160px;
}

/* ====================================================== */
/* Editor Settings */
/* ====================================================== */

#content h1 {
    margin: 0px 0px 20px 0px;
    font-size: 16pt;
    font-weight: normal;
    color: #1b6987;
    border-bottom: 1px solid #ccc;
}

#cmdbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 0.5em;
    font-size: 14pt;
}

#cmdbar * {
    margin: 0 0.25em 0 0;
}

#configbar {
}

#egbar {
    font-weight: bold;    
    margin-top: 0.5em;
    vertical-align: middle;
    font-size: 16pt;
}

#cmdbar button {
    background-color: #e5d3a7;
    border-radius: 12px;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
}

#cmdbar button:active {
    background-color: #c5b387;
    color: white;
}

#cmdbar button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    color: #888888;    
}

#elastic {
    flex-grow: 1;    
}

/**
 * The error marker is the CSS style for highlighting errors.
 */
.error-message {
    text-decoration: none;
    border-bottom: 2px red dotted;
    position: absolute;
}

/**
 * The context marker is the CSS style for highlighting contextual info.
 */
.context-message {
    text-decoration: none;
    border-bottom: 2px goldenrod dotted;
    position: absolute;
}
